.title {
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
}

#clock {
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
}

#questions {
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
}

#container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {	
	background: linear-gradient(to bottom, #0DCDFF, #0C9BE8, #0C9BE8, #0055E8, #0055E8 );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21D4FD 75%);
}

#submit {
    color: black;
    background-color: transparent;
    border-color: black;
    border-radius: 12px;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

#begin:hover {
    color: white;
    border-color: white;
}

#submit:hover {
    color: white;
    border-color: white;
}

#begin {
    color: black;
    background-color: transparent;
    border-color: black;
    border-radius: 12px;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 24px;
    margin-top: 15%;
    margin-left: 45%;
    cursor: pointer;
}

#empty {
    color: transparent;
    margin-top: 500px;
}

#results {
    border: solid;
    border-width: 1px;
    border-color: black;
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
    margin: 10% 20% 15% 20%;
}

#questionspage {
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
}